td .seed {
  width: 50px;
}

sweetsixteen {
  background-color: #FFCCCC;
}

eliteeight {
  background-color: #FFA4A4;
}

finalfour {
  background-color: #FF7C7C;
}

finals {
  background-color: #FF5555;
}
