table {
  table-layout: fixed;
}

td .seed {
  width: 50px;
}

div .sweetsixteen {
  background-color: #FFCCCC;
}

div .eliteeight {
  background-color: #FFA4A4;
}

div .finalfour {
  background-color: #FF7C7C;
}

div .finals {
  background-color: #FF5555;
}
